<div class="col-xs-12">
    <div class="well text-center">
        <h1>Collections management</h1>
    </div>
</div>
<div class="col-xs-12">
    <div class="panel panel-default" ng-controller="CollectionsListController as vm">
        <div class="panel-heading">
            Collections list
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <thead>
                <th>#</th>
                <th>Info</th>
                <th></th>
                </thead>
                <tr ng-repeat="collection in vm.collections">
                    <td>{{::collection.id}}</td>
                    <td collection-row collection="collection" expand="true"/>
                    <td class="text-right">
                        <a class="btn btn-default" ng-click="vm.edit($index)"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-danger" ng-click="vm.remove($index)"><span
                                class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </table>

            <p>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="vm.pager.getFirstPage()"
                        ng-hide="vm.pager.currentPage <= 1">First
                </button>
                <button type="button" class="btn btn-default" ng-click="vm.pager.getPrevPage()"
                        ng-hide="vm.pager.currentPage <= 1">Previous
                </button>
                <button type="button" class="btn btn-primary" ng-click="vm.pager.getCurrentPage()">Current</button>
                <button type="button" class="btn btn-default" ng-click="vm.pager.getNextPage()"
                        ng-hide="vm.pager.currentPage >= vm.pager.pageCount">Next
                </button>
                <button type="button" class="btn btn-default" ng-click="vm.pager.getLastPage()"
                        ng-hide="vm.pager.currentPage >= vm.pager.pageCount">Last
                </button>
            </div>
            </p>

            <uib-accordion template-url="/uib/template/accordion/accordion.html">
                <uib-accordion-group
                        template-url="/uib/template/accordion/accordion-group.html"
                        heading="Filter">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" name="id" placeholder="Id" ng-model="vm.searchModel.id">
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Title"
                               ng-model="vm.searchModel.title">
                    </div>

                    <button type="button" class="btn btn-primary" ng-click="vm.filter()">Apply filter</button>
                    <button type="button" class="btn btn-default" ng-click="vm.resetFilter()">Reset filter</button>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>

    <div class="panel panel-default" ng-controller="CollectionsFormController as vm">
        <div class="panel-heading">
            Collection form
        </div>
        <div class="panel-body">
            <form ng-submit="vm.submit()">
                <div class="form-group" ng-show="vm.isEditing()">
                    <strong>Editing collection #{{vm.collection.id}}</strong>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Title"
                           ng-model="vm.collection.title">
                </div>

                <div class="form-group">
                    <label>Tags</label>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="tag in vm.collection.tags">
                            <div class="row">
                                <div class="col-xs-10" tag-row tag="tag"></div>
                                <div class="col-xs-2 text-right">
                                    <a class="btn btn-danger" ng-click="vm.removeTag($index)"><span
                                            class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <input type="text" class="form-control" name="tag" placeholder="Tag search"
                                   ng-model="vm.tagString"
                                   autocomplete="off"
                                   typeahead-wait-ms="100"
                                   typeahead-on-select="vm.addTag($item, $model, $label, $event)"
                                   typeahead-editable="false"
                                   uib-typeahead="tag.title for tag in vm.typeaheadTags($viewValue)"
                                   typeahead-template-url="/uib/template/typeahead/typeahead-match.html"
                                   typeahead-popup-template-url="/uib/template/typeahead/typeahead-popup.html">
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Files</label>
                    <ul class="list-group" ui-sortable ng-model="vm.collection.files">
                        <li class="list-group-item" ng-repeat="file in vm.collection.files">
                            <div class="row">
                                <div class="col-xs-10" file-row file="file"></div>
                                <div class="col-xs-2 text-right">
                                    <a class="btn btn-danger" ng-click="vm.removeFile($index)"><span
                                            class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <input type="text" class="form-control" name="file" placeholder="File search"
                                   ng-model="vm.fileString"
                                   autocomplete="off"
                                   typeahead-wait-ms="100"
                                   typeahead-on-select="vm.addFile($item, $model, $label, $event)"
                                   typeahead-editable="false"
                                   uib-typeahead="file.path for file in vm.typeaheadFiles($viewValue)"
                                   typeahead-template-url="/uib/template/typeahead/typeahead-match.html"
                                   typeahead-popup-template-url="/uib/template/typeahead/typeahead-popup.html">
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Collections</label>
                    <ul class="list-group" ui-sortable ng-model="vm.collection.collections">
                        <li class="list-group-item" ng-repeat="collection in vm.collection.collections">
                            <div class="row">
                                <div class="col-xs-10" collection-row collection="collection"></div>
                                <div class="col-xs-2 text-right">
                                    <a class="btn btn-danger" ng-click="vm.removeCollection($index)"><span
                                            class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <input type="text" class="form-control" name="collection" placeholder="File search"
                                   ng-model="vm.collectionString"
                                   autocomplete="off"
                                   typeahead-wait-ms="100"
                                   typeahead-on-select="vm.addCollection($item, $model, $label, $event)"
                                   typeahead-editable="false"
                                   uib-typeahead="collection.title for collection in vm.typeaheadCollections($viewValue)"
                                   typeahead-template-url="/uib/template/typeahead/typeahead-match.html"
                                   typeahead-popup-template-url="/uib/template/typeahead/typeahead-popup.html">
                        </li>
                    </ul>
                </div>

                <button type="submit" class="btn btn-primary">{{vm.isEditing() == false ? 'Create collection' : 'Update
                    collections'}}
                </button>
                <button type="button" class="btn btn-default" ng-show="vm.isEditing()" ng-click="vm.reset()">Return to
                    creating
                </button>
            </form>
        </div>
    </div>
</div>