<p><strong>{{::collection.title}}</strong></p>
<div ng-show="expand">
  <ul class="list-group">
    <li class="list-group-item list-group-item-text" ng-hide="tagsShown">
      <a ng-click="showTags()">Show tags</a>
    </li>
    <li class="list-group-item list-group-item-info" ng-show="tagsShown">
      <a ng-click="hideTags()">Tags</a>
    </li>
    <li class="list-group-item list-group-item-text" ng-show="tagsShown" ng-repeat="tag in tags" tag-row tag="tag" />
    <li class="list-group-item list-group-item-info" ng-show="tagsShown">
      <a ng-click="hideTags()">Hide tags</a>
    </li>

    <li class="list-group-item list-group-item-text" ng-hide="filesShown">
      <a ng-click="showFiles()">Show files</a>
    </li>
    <li class="list-group-item list-group-item-info" ng-show="filesShown">
      <a ng-click="hideFiles()">Files</a>
    </li>
    <li class="list-group-item list-group-item-text" ng-show="filesShown" ng-repeat="file in files" file-row file="file" />
    <li class="list-group-item list-group-item-info" ng-show="filesShown">
      <a ng-click="hideFiles()">Hide files</a>
    </li>

    <li class="list-group-item list-group-item-text" ng-hide="collectionsShown">
      <a ng-click="showCollections()">Show collections</a>
    </li>
    <li class="list-group-item list-group-item-info" ng-show="collectionsShown">
      <a ng-click="hideCollections()">Collections</a>
    </li>
    <li class="list-group-item list-group-item-text" ng-show="collectionsShown" ng-repeat="collection in collections" collection-row collection="collection" />
    <li class="list-group-item list-group-item-info" ng-show="collectionsShown">
      <a ng-click="hideCollections()">Hide collections</a>
    </li>
  </ul>
</div>
