<div class="col-xs-12">
    <div class="well text-center">
        <h1>Files management</h1>
    </div>
</div>
<div class="col-xs-12">
    <div class="panel panel-default" ng-controller="FilesListController as vm">
        <div class="panel-heading">
            Files list
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <thead>
                <th>#</th>
                <th>Info</th>
                <th></th>
                </thead>
                <tr ng-repeat="file in vm.files">
                    <td>{{::file.id}}</td>
                    <td file-row file="file"/>
                    <td class="text-right">
                        <a class="btn btn-default" ng-click="vm.edit($index)"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-danger" ng-click="vm.remove($index)"><span
                                class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </table>

            <p>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="vm.pager.getFirstPage()"
                        ng-hide="vm.pager.currentPage <= 1">First
                </button>
                <button type="button" class="btn btn-default" ng-click="vm.pager.getPrevPage()"
                        ng-hide="vm.pager.currentPage <= 1">Previous
                </button>
                <button type="button" class="btn btn-primary" ng-click="vm.pager.getCurrentPage()">Current</button>
                <button type="button" class="btn btn-default" ng-click="vm.pager.getNextPage()"
                        ng-hide="vm.pager.currentPage >= vm.pager.pageCount">Next
                </button>
                <button type="button" class="btn btn-default" ng-click="vm.pager.getLastPage()"
                        ng-hide="vm.pager.currentPage >= vm.pager.pageCount">Last
                </button>
            </div>
            </p>

            <uib-accordion template-url="/uib/template/accordion/accordion.html">
                <uib-accordion-group
                        template-url="/uib/template/accordion/accordion-group.html"
                        heading="Filter">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" name="id" placeholder="Id" ng-model="vm.searchModel.id">
                    </div>
                    <div class="form-group">
                        <label>Path</label>
                        <input type="text" class="form-control" name="path" placeholder="Path"
                               ng-model="vm.searchModel.path">
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Title"
                               ng-model="vm.searchModel.title">
                    </div>
                    <div class="form-group">
                        <label>Artist</label>
                        <input type="text" class="form-control" name="artist" placeholder="Artist"
                               ng-model="vm.searchModel.artist">
                    </div>
                    <div class="form-group">
                        <label>Album</label>
                        <input type="text" class="form-control" name="album" placeholder="Album"
                               ng-model="vm.searchModel.album">
                    </div>

                    <button type="button" class="btn btn-primary" ng-click="vm.filter()">Apply filter</button>
                    <button type="button" class="btn btn-default" ng-click="vm.resetFilter()">Reset filter</button>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>

    <div class="panel panel-default" ng-controller="FilesFormController as vm">
        <div class="panel-heading">
            File form
        </div>
        <div class="panel-body">
            <form ng-submit="vm.submit()">
                <div class="form-group" ng-show="vm.isEditing()">
                    <strong>Editing file #{{vm.file.id}}</strong>
                </div>

                <div class="form-group">
                    <label>Path</label>
                    <input type="text" class="form-control" name="path" placeholder="Path" ng-model="vm.file.path">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Title" ng-model="vm.file.title">
                </div>
                <div class="form-group">
                    <label>Artist</label>
                    <input type="text" class="form-control" name="artist" placeholder="Artist"
                           ng-model="vm.file.artist">
                </div>
                <div class="form-group">
                    <label>Album</label>
                    <input type="text" class="form-control" name="album" placeholder="Album" ng-model="vm.file.album">
                </div>

                <button type="submit" class="btn btn-primary">{{vm.isEditing() == false ? 'Add file' : 'Update file'}}
                </button>
                <button type="button" class="btn btn-primary" ng-click="vm.loadData()">Load data</button>
                <button type="button" class="btn btn-default" ng-show="vm.isEditing()" ng-click="vm.reset()">Return to
                    creating
                </button>
            </form>
        </div>
    </div>
</div>