<div class="col-xs-12">
    <div class="well text-center">
        <h1>Tags management</h1>
    </div>
</div>
<div class="col-xs-12">
    <div class="panel panel-default" ng-controller="TagsListController as vm">
        <div class="panel-heading">
            Tags list
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <thead>
                <th>#</th>
                <th>Title</th>
                <th></th>
                </thead>
                <tr ng-repeat="tag in vm.tags">
                    <td>{{::tag.id}}</td>
                    <td tag-row tag="tag"/>
                    <td class="text-right">
                        <a class="btn btn-default" ng-click="vm.edit($index)"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-danger" ng-click="vm.remove($index)"><span
                                class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </table>

            <p>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="vm.pager.getFirstPage()"
                        ng-hide="vm.pager.currentPage <= 1">First
                </button>
                <button type="button" class="btn btn-default" ng-click="vm.pager.getPrevPage()"
                        ng-hide="vm.pager.currentPage <= 1">Previous
                </button>
                <button type="button" class="btn btn-primary" ng-click="vm.pager.getCurrentPage()">Current</button>
                <button type="button" class="btn btn-default" ng-click="vm.pager.getNextPage()"
                        ng-hide="vm.pager.currentPage >= vm.pager.pageCount">Next
                </button>
                <button type="button" class="btn btn-default" ng-click="vm.pager.getLastPage()"
                        ng-hide="vm.pager.currentPage >= vm.pager.pageCount">Last
                </button>
            </div>
            </p>

            <uib-accordion template-url="/uib/template/accordion/accordion.html">
                <uib-accordion-group
                        template-url="/uib/template/accordion/accordion-group.html"
                        heading="Filter">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" name="id" placeholder="Id" ng-model="vm.searchModel.id">
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Title"
                               ng-model="vm.searchModel.title">
                    </div>

                    <button type="button" class="btn btn-primary" ng-click="vm.filter()">Apply filter</button>
                    <button type="button" class="btn btn-default" ng-click="vm.resetFilter()">Reset filter</button>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>

    <div class="panel panel-default" ng-controller="TagsFormController as vm">
        <div class="panel-heading">
            Tag form
        </div>
        <div class="panel-body">
            <form ng-submit="vm.submit()">
                <div class="form-group" ng-show="vm.isEditing()">
                    <strong>Editing tag #{{vm.tag.id}}</strong>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Title" ng-model="vm.tag.title">
                </div>
                <button type="submit" class="btn btn-primary">{{vm.isEditing() == false ? 'Create tag' : 'Update
                    tag'}}
                </button>
                <button type="button" class="btn btn-default" ng-show="vm.isEditing()" ng-click="vm.reset()">Return to
                    creating
                </button>
            </form>
        </div>
    </div>
</div>